#textArea, #inputSubject, #category{
  border-radius: 9px;
  
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* .card-body{
  padding: 10px 10px 10px 45px
} */

#formlogin{
  padding: 10px 25px 10px 25px
}

.col1{
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
  }


.col2{
    padding-top: 120px;
    padding-right:100px;
    padding-bottom: 100px;
    padding-left: 130px;
  }
  
  .col3 {
    padding-top: 120px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 180px;
  }


  .col5 {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left:50px;
  }


  .col6 {
    padding-top: 0px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left:120px;
  }
  



  .col4 {
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-left:100px;
  }

  .col8{
    margin-top:20px;
    padding-bottom:80px
  }
  

  #complaint{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding-top:35px;
    border:none
  }

    

  #logoBRI{
    width:100px;
  }


  #Navbar{
    background-color: #004f97;
  }
  


.table{
  text-align: center; 
  margin-bottom: 50px;
}


.btn-float{
    position:fixed;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}


#InputFeedback{
  margin-bottom:20px;
  border-radius: 9px;
  
}

#button-addon2{
  width:35%;
  align-items: center;
  background-color:#f37024
}

.rating{
  background-color: #004f97;
  text-align: center;
  align-items: center;
  color: white;
}

.closeButton{
  background-color: #f34216;
  width: 35%;
}

.close{
  width:5%
}

#buttonUpload{
  border-radius: 9px;
  margin-top: 28px
}


.forgotpassword{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:130px;
    padding-bottom:200px;
    border:none
}